@import url(_variaveis.css);

body {
    position: static;
    border: none;
    margin: 0;
    background-color: rgb(75, 75, 75);
    background-image: url(../img/musica.jpg);
}

h1 {
    color: var(--branco);

}

.cabecalhoPrincipal .explorar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalhoPrincipal-nav {
    display: flex;
    align-items: center;
    border-color: var(--branco);
    
    
}

.cabecalhoPrincipal-nav-link {
    color: var(--branco);
    font-weight: bold;
    margin: 15px;
    box-sizing: border-box;
    border: 2px solid var(--branco);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--preto);
    box-shadow: 10px 10px 20px var(--preto);

}

.cabecalhoPrincipal-nav-link:hover {
    background-color: var(--vermelho-titulo);
    transition-duration: 0.5s;
   
}

.cabecalho_rodape {
    color: var(--branco);
    font-weight: bold;
    
}
/*#festa {
    width: 100%;
    border: 0 0 20px;
}*/

.txtBusca {
    width: 150px;
    padding: 4px;
    border-radius: 12px;
    background-color: var(--cinza);
}

#player {
    width: 50px;
    border
}

 .Busca {
    background-color: var(--branco);
}



/*#btnBusca {

    width: 25px;
}*/

h2, .Musica {
    color: var(--branco);
    text-align: center;
    text-decoration: none;
}

#frase {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    color: var(--branco);
}

.container {
    
    border-color: var(--branco);
    text-align: center;
    padding: 0.3px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px;
    color: var(--branco);
    background-color: var(--vermelho-titulo);
    margin: 10px;
    font-weight: bold;
}




/*#procurar {
    border: 0;
    width: 40px;
}*/

.Album {
    
	display: inline-block;
	width: 30%;
	margin: 10px;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid var(--branco);
	border-radius: 10px;
	cursor: pointer;
    box-shadow: 10px 10px 20px var(--preto);
    background-color: var(--preto);
    margin-left: 20px;
} 

.Album:hover {
    background-color: var(--vermelho-titulo);
    transition-duration: 0.5s;
}

footer {
    border-top: 100%;
	text-align: center;
	padding: 40px;
    background-color: var(--bordo-rodape);
}

#playe {
    width: 30px;
    padding-left: 0%;
    float: center;
    bottom: 0;
}

.copyright {
    padding: 0%;
    color: var(--branco);
}